.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.button-reset{
    height: 32px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    border: thin black solid;
    background: lightgray;
    border-radius: 5px;
}

.calendar{
    margin-bottom: 10px;
    padding: 0;
}
.ag-grid{
    --ag-borders: none;
    --ag-row-border-style: solid;
    --ag-row-border-width: 1px;
    --ag-row-border-color: lightgrey;
}
.ag-body{
    border: 1px solid black;
}

.ag-header-cell-label{
    justify-content: center;
}

.ag-header-cell, .ag-focused-managed, .ag-header-active{
    background-color: #0028aa !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.ag-pinned-left-header > div:nth-child(1) > div:nth-child(1){
    background-color: white !important;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
}
.calendar--time-cell{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size:  12px;
    background: hsla(228, 87%, 95%, 0.9);
    text-align: center;
    vertical-align: top;

}
.calendar--entry{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: rgb(141, 169, 252);
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 3px;
    text-align: center;
    white-space: normal;
    overflow: scroll;
}
.calendar--entry:hover{
    background: rgb(218, 6, 6);
}
.calendar--entry-course-number{
    font-size: 14px;
    line-height: 14px;
    width: 90%;
    margin-bottom: 5px;
    text-align: center;
}
.calendar--entry-course-name{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
}

.ag-cell{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: none !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
}