.home-page{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.home-page--section{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}


.home-page--title{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    padding-bottom: 12px; 
}

.home-page--description{
    color: #000000;
    font-size: 22px;
    font-weight: normal;
}
.home-page--section-title{
    color: #0028aa;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

p{
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.home-page--table{
    margin-left: 40px;
    margin-right: 40px;
}
.home-page--list-item-label-pages{
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    min-width: 200px;
    max-width: 275px;
    padding-right: 5px;
}
.home-page--list-item-label-header{
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    min-width: 200px;
    max-width: 275px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.home-page--list-item-description{
    vertical-align: top;
    min-width: 250px;
    max-width: 1250px;
    padding-bottom: 5px;
}