.page-header {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #0028aa;
    display: inline-flex;
    width: 100%;
}
.page-header--element{
    display: inline-flex;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header--element:hover{
    background-color: #003cff;
}
.page-header--link{
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.page-header--link:link, .page-header--link:visited{
    color: #ffffff;

}