.page-header {
    border-bottom: 1px  darkgray solid;
    height: 70px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}
.page-header--title{
    color: #0028aa;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    font-weight: bold;
}
