.plot{
    padding-left: 5%;
    padding-right: 5%;
}

.plot-header{
    padding-bottom: 15px;
}

.plot-header--title{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}
.plot-header--description{
    color: #000000;
    font-size: 24px;
    font-weight: normal;
}

/*Section Settings*/
.plot-header--section{
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}
.plot-header--section-title{
    color: #0028aa;
    font-size: 22px;
    font-weight: bold;
}
/*Filtering Settings*/
.plot-header--section-elements{
    display: inline-block;
    padding-bottom: 15px;
}

.plot-header--filtering-element-label{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    border: thin lightgrey solid;
    background: lightgray;
    border-radius: 1px;
}
.DateInput_input, .DateInput_input_1{
    height: 40px;
    font-size: 20px
}
.plot-header-filtering-starttime, .plot-header--filtering-date, .plot-header--filtering-name, .plot-header--filtering-room, .plot-header--filtering-number{
    display: inline-flex;
    min-width: 250px;
    max-width: 400px;
    min-height: 40px;
    max-height: 80px;
    padding-top: 15px;
    padding-right: 15px;
}

/*Sorting and mode elements*/
.plot-header--sorting, .plot-header--mode{
    display: inline-table;
}

/* Sorting elements */
.plot-header--sorting-elements{
    display: inline-flex;
    height: 40px;
    width: 360px;
}
.plot-header--sorting-dropdown, .plot-header--mode-dropdown{
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding-top: 15px;
}
.plot-header--sorting-switch{
    width: 60px;
    padding-top: 15px;
}

/*Course Information*/
.plot-header--course-information{
    display: block;
}

.plot-header--info-element{
    display: inline-flex;
    min-width: 100px;
    max-width: 600px;
    min-height: 40px;
    max-height: 80px;
    padding-top: 15px;
    padding-right: 15px;

}
.plot-header--info-element-label{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    border: thin lightgrey solid;
    background: lightgray;
    border-radius: 1px;

}
.plot-header--info-element-text{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    border: thin lightgrey solid;
    border-radius: 1px;
}
