[Unit]
Description=IR Emitter
Requires=pigpiod.service 

[Service]
ExecStart=/usr/bin/python3 home/pi_emitter/ir_emitter.py
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
